*{
    font-family: sans-serif;
}

.bg-img{
    background-image: url(./Assets/bg-featured.jpg);
}
.bg-logo{
    background-image: url(./Assets/bg-logo.jpg);
}
.nav-link :hover{
    color: white;
    background-color: gray;
}